{% load static %}
{% block head %}
<!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
 -->

{% endblock head %}
<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Populyar olanlar</h2>
                    <div class="pull-right">
                        <div class="product-slick-dots-2 custom-dots">
                        </div>
                    </div>
                </div>
            </div>
            <!-- section title -->
            
            <!-- Product Single -->
            <!-- <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single product-hot">
                    <div class="product-thumb">
                        <button class="main-btn quick-view"><i class="fa fa-search-plus"></i> Ətraflı</button>
                        <img src="{%static './img/product01.jpg' %} " alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">{{randomproducts.price}}<del class="product-old-price"></del></h3>
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o empty"></i>
                        </div>
                        <h2 class="product-name"><a href="#">{{randomproducts.title}}</a></h2>
                        {% if request.user.is_authenticated %}
                        <div class="product-btns">
                            <a href="/user/favorites/{{data.id}}" class="main-btn icon-btn"><i class="fa fa-heart"></i></a>
                            <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                            <a href="/order/addtocart/{{data.id}}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Sebete</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div> -->
            
            <!-- /Product Single -->

            <!-- Product Slick -->
            <div class="col-md-12 col-sm-6 col-xs-6">
                <div class="row">
                    <div id="product-slick-2" class="product-slick">

                        {% for data in dayproducts %}
                        <!-- Product Single -->
                        <div class="product product-single">
                            <div class="product-thumb">
                                <a href="/product/{{ data.id }}/{{ data.slug }}" class="main-btn quick-view"><i class="fa fa-search-plus"></i>Ətraflı</a>
                                <img style="height: 350px;" src="{{ data.image.url }}" alt="">
                            </div>
                            <div class="product-body">
                                <h3 class="product-price">{{data.price}} AZN </h3>
                                <div class="product-rating">
                                    <p><strong><i class="fas fa-eye"></i> </strong> {{data.product_view}} </p>
                                </div>
                                <h2 class="product-name"><a href="/product/{{ data.id }}/{{ data.slug }}">{{ data.title }}</a></h2>
                                <p>{{data.author}} </p>
                                {% if request.user.is_authenticated %}
                                <div class="product-btns">
                                    <a href="/user/favorites/{{data.id}}" class="main-btn icon-btn"><i class="fa fa-heart"></i></a>
                                    <a  href="/order/addtocart/{{data.id}}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Səbətə</a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        <!-- /Product Single -->
                        {% endfor %}
        
                    </div>
                </div>
            </div>
            <!-- /Product Slick -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->



<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Yenilər</h2>
                </div>
            </div>
            <!-- section title -->
            {% for last in lastproducts %}
              
            
            <!-- Product Single -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <a   href="/product/{{ last.id }}/{{ last.slug }}"  class="main-btn quick-view"><i class="fa fa-search-plus"></i>Ətraflı</a>
                        <img style="height: 350px;" src="{{last.image.url}}" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">{{last.price}} AZN </h3>
                        <div class="product-rating">
                            <p><strong><i class="fas fa-eye"></i> </strong> {{last.product_view}} </p>
                            
                        </div>
                        <h2 class="product-name"><a href="/product/{{ last.id }}/{{ last.slug }}">{{last.title}}</a></h2>
                        <p>{{last.author}} </p>
                        {% if request.user.is_authenticated %}
                        <div class="product-btns">
                            <a href="/user/favorites/{{last.id}}" class="main-btn icon-btn"><i class="fa fa-heart"></i></a>
                            <a  href="/order/addtocard/{{last.id}}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Səbətə</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /Product Single -->
            {% endfor %}
            
        </div>
        <!-- /row -->
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Ucuz Kitablar</h2>
                </div>
            </div>
            <!-- section title -->
            {% for random in randomproducts %}
              
            <!-- style="border: 1px solid #F8694A;"  -->
            <!-- Product Single -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="product product-single">
                    <div class="product-thumb">
                        <a  href="/product/{{ random.id }}/{{ random.slug }}" class="main-btn quick-view"><i class="fa fa-search-plus"></i>Ətraflı</a>
                        <img style="height: 350px;" src="{{ random.image.url }}" alt="">
                    </div>
                    <div class="product-body">
                        <h3 class="product-price">{{ random.price }} AZN </h3>
                        <div class="product-rating">
                            <p><strong><i class="fas fa-eye"></i> </strong> {{random.product_view}} </p>
                        </div>
                        <h2 class="product-name"><a href="/product/{{ random.id }}/{{ random.slug }}">{{ random.title }}</a></h2>
                        <p>{{random.author}} </p>
                        {% if request.user.is_authenticated %}
                        <div class="product-btns">
                            <a href="/user/favorites/{{random.id}}" class="main-btn icon-btn"><i class="fa fa-heart"></i></a>
                            <a href="/order/addtocard/{{ random.id }}" class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Səbətə</a>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- /Product Single -->
            {% endfor %}
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>


