{% extends "homebase.html" %}

{% block title %} Xəta {% endblock title %}
{% block keywords %} {{ setting.keywords }} {% endblock keywords %}
{% block description %} {{setting.description}} {% endblock description %}
{% block head %} <link rel="shortcut icon" type='image/x-icon' href="{{setting.icon.url}}"> {% endblock head %}

{% block sidebar %}
  {% include "sidebar.html" %}
{% endblock sidebar %}

{% block content %}

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Ana Səhifə</a></li>
            <li class="active">Xəta</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div align='center'>
            <br><br><br><br>
            <h1>Axtardığınız Tapılmadı!!!</h1>
            <h3><a class="btn btn-danger" href="/">Ana Səhifə</a></h3>
            <br><br><br><br>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
  
{% endblock content %}
