{% extends "homebase.html" %}

{% block title %} Qeydiyyat {% endblock title %}
{% block keywords %} {{ setting.keywords }} {% endblock keywords %}
{% block description %} {{setting.description}} {% endblock description %}
{% block head %} <link rel="shortcut icon" type='image/x-icon' href="{{setting.icon.url}}"> {% endblock head %}

{% block sidebar %}
  {% include "sidebar.html" %}
{% endblock sidebar %}

{% block content %}

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Ana Səhifə</a></li>
            <li class="active">Qeydiyyat</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="billing-details">
                    <div class="section-title">
                        <h3 class="title">Qeydiyyat </h3>

                        
                    </div>

                    {% if messages %}
                        {% for message in messages %}
                          <div class="alert alert-{{message.tags}}" role="alert">
                              {{ message }}
                              

                          </div>
                        {% endfor %}

                    {% endif %}

                          {% if error %}
                            <div class="alert alert-warning" role="alert">{{error}}</div>
                          {% endif %}

                    <form action="" method="post">
                        {% csrf_token %}
                        <!-- <div class="form-group">
                            <input name="username" placeholder="Istifadəçi adı" type="text" class="input">
                        </div>
                        <div class="form-group">
                            <input name="email" placeholder="Email" type="text" class="input">
                        </div>
                        <div class="form-group">
                            <input name="password" placeholder="Parol" type="password" class="input">
                        </div>
                        <div class="form-group">
                            <input name="confirm" placeholder="Təkrar Parol" type="password" class="input">
                        </div> -->

                        {{ form.as_p}}
                        <button class="btn btn-danger" type="submit">Tamamla</button>
                        
                    </form>

                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
  
{% endblock content %}
