{% extends "homebase.html" %}

{% block title %} {{profile.user.first_name}} {% endblock title %}
{% block keywords %} {{ setting.keywords }} {% endblock keywords %}
{% block description %} {{setting.description}} {% endblock description %}
{% block head %} <link rel="shortcut icon" type='image/x-icon' href="{{setting.icon.url}}"> {% endblock head %}

{% block sidebar %}
  {% include "sidebar.html" %}
{% endblock sidebar %}

{% block content %}

<!-- BREADCRUMB -->
<div id="breadcrumb">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="/">Ana Səhifə</a></li>
            <li class="active">Profil</li>
        </ul>
    </div>
</div>
<!-- /BREADCRUMB -->

<!-- section -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-3"> 
                {% include "user_panel.html" %}
            </div>
            <div class="col-md-9">
                <div class="section-title">
                    <h3 class="title">
                        Change
                    </h3>
                </div>
                
                <div class="content-section">
                    <!-- {% if messages %}
                    {% for message in messages %}
                      <div class="alert alert-{{message.tags}}" role="alert">
                          {{ message|safe }}
                      </div>
                    {% endfor %}
        
                {% endif %} -->

                    <form action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    {% for field in  form %}
                    <p>
                       
                       {{field.label_tag}} <br>
                       {{field}}

                       {% if field.help_text %}
                       <small style="color: grey;"> {{ field.help_text}}</small>
                         
                       {% endif %}
                       {% for error in  field.errors %}
                       <p style="color: red;">{{error}}</p>
                         
                       {% endfor %}

                       

                    </p>
                    {% endfor %}
                    <button class="primary-btn" type="submit">Yadda saxla</button>
                    </form>
                </div>
            </div>

        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /section -->
  
{% endblock content %}



